[Unit]
Description = localstack daemon

[Service]
ExecStart = localstack start
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
